
section {
    display: flex;
    margin: 0vh 5vw;
    padding-top: 1%;

}

section div {
    border: 1px black solid;
    margin: 0px 15px;
    padding: 10px;
}

.img {
    width: 25%;
}
section div p{
    width: 100%;
}