@font-face {
    font-family: 'Karla';
    src: url(../fonts/Karla-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Karla';
    src: url(../fonts/Karla-Regular.ttf);
    font-weight: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Karla';
    background-color:#FBF7EE ;
}

body{
    margin: 2.5% 10% 5% 10%;
} 

#check, #btn, #cancel{
    display: none;
}

header label{
    position: absolute;
    right: 10%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: min(16px, 1.2vw);
}

header div > ul{
    display: flex;
    justify-content: space-between;
}

header div > ul > li{
    list-style: none;
}

header div > ul > li > a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

header div > ul > li > a:hover{
    color: #4474BB;
    text-decoration: underline;
    transition: .3s;
}

header > div.lastNav > ul{
    align-items: center;
}

.button{
    font-size: min(16px, 1.2vw);
    margin-left: 20px;
    width: 100px;
    border: 1px solid #13366D;
    border-radius: 3px;
    padding: 7px 5px;
    background-color: #FFF3D9;
    color: #13366D;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 1.5px black;
    transition: 0.3s;
}
.button:hover{
    background-color: #0B48A8;
    border: 0.5px solid #707070;
    color: white;
}
.button:active{
    box-shadow: 0 0.5px black;
    transform: translateY(1.5px);
}

@media (max-width:704px) {
    header{
        font-size: 16px;
    }
    .button{
        font-size: 12px;
    }
    header > .firstNav ul, header > .lastNav ul{
        display: none;
        width: 200px;
    }
    header > .lastNav ul{
        margin: 0;
    }
    #btn{
        display: block;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    #btn, #cancel{
        font-size: 30px;
        cursor: pointer;
    }
    #check:checked ~ .lastNav ul > li{
        margin-top: 10px;
    }
    #check:checked ~ .firstNav ul{
        text-align: center;
        display: block;
        position: absolute;
        right: 40vw;
    }
    #check:checked ~ .lastNav ul{
        text-align: center;
        display: block;
        position: absolute;
        top: 22vh;
        right: 40vw;
    }
}

@media (max-width:500px) {
    #check:checked ~ .firstNav ul{
        left: 20vw;
    }
    #check:checked ~ .lastNav ul{
        left: 20vw;
    }
}