@font-face {
    font-family: 'Karla';
    src: url(../fonts/Karla-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Karla';
    src: url(../fonts/Karla-Regular.ttf);
    font-weight: normal;
}


* {
    box-sizing: border-box;
    font-family: 'Karla';
}

body {
    margin: 2.5% 10% 0% 10%;
    background-color: #FBF7EE;
}
/* ----------------------------------START Section 2 "Les Cartes" (Hajjou)--------------------------------------- */
.section-2 {
    display: flex;
    padding-top: 1%;
    justify-content: space-between;
    margin: 50px 0;
}
.section-2 > div {
    border: 1px solid #B8B8B8;
    border-radius: 0.25em;
    width: 23%;
    padding: 2px 10px ;
    background-color: #FFFFFF;
}
.container-title img{
    width: 25%;
    padding-bottom: 10px;
}
.container-title{
    padding-bottom: 5px;
    padding-top: 10px;    
}
.section-2 p{
   margin-top: 0;   
}
.container-title h4{
    margin-top: 0;
}

/*___________________________________Responsive pour Section 2 (Tablettes)___________________________________ */

@media only screen and (max-width: 920px) {
    .section-2 {
        flex-wrap: wrap;    
    }
    .section-2 > div{
        width: 47%;
        padding-bottom: 1%;
        justify-content: center;
        margin-top: 8%;  
        margin: 0;   
        padding: 13px;
        font-size:2vw; 
        margin-bottom: 25px;
    }
    .section-2 img{
        width: 25%;
    }
    .container-title h4{
        width: 150%;
        margin: 0%;
    }
    .section-2 p{
        padding-bottom: 13px;
    }
    .container-title{
        margin-bottom: 20px;
}

/*___________________________________Responsive pour Section 2 (Phone)___________________________________ */

@media only screen and (max-width: 576px) {
    .section-2 {
        flex-wrap: wrap;  
    }
    .section-2 > div{
        width: 100%;
        margin: 0;
        padding: 13px;
        padding-bottom: 15px;
        justify-content: center;
        font-size: 3vw;  
        margin-bottom: 25px;
    }
    .section-2 img{
        width: 15%;
        margin: 0;
    }
    .section-2 p{
        margin: 0;
        padding-bottom: 13px;
    }
    .container-title h4{
        width: 100%;
        margin: 0;
        padding: 0px 0px 0px;
    }
   .container-title{
    margin-bottom: 10px;
    }
}
}
/* ----------------------------------END Section 2 "Les Cartes" (Hajjou)--------------------------------------- */

/*--------------------------------------------------------- Styling of the first section (+ responsive layout)-----------------------------------------------------------*/
.secondSection > #secondSectionImage {
    width : 100%;
    float: right;
}
main > .flex{
    margin-top: 50px;
}
main > div > .firstSection{
    margin-right: 2em;
    width: 60%;
}
.firstSection > .headings-section > h1 {
    color: #17396b;
    font-size: 4vw;
    margin: 0;
}
main > div > .firstSection > ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin: 0;
    flex-wrap: wrap;
}

main > div > .firstSection > ul > li {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}
main > div > .firstSection > ul > li:first-child{
    margin-right: 10px;
}
#tryForFreeButton {
    width: min(150px, 70%);
    cursor: pointer;
    padding: 5px 10px;
    font-size: x-small;
    background-color: #0c459e;
    color: white;
    border: 0 solid #030210;
    border-radius: 3px;
    box-shadow: 0 2px #060400;
    flex-grow: 0;
    transition: 0.3s;
}
#tryForFreeButton:active{
    box-shadow: 0 0.5px black;
    transform: translateY(1.5px);
}
main > div > .firstSection > .container > form{
    /* flex-grow: 1; */
    /* width: 100px; */
}
main > div > .firstSection > .container > form > input{
    height: 30px;
margin-right: 20px;
}

main > div > .firstSection > .container {
    display: flex;
    justify-content: flex-start;    
}

body > main > .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


main > div > .firstSection > .headings-section > p , main > div > section > .checkMarkImages > li > p{
    color: #c0bdb8;
    font-size: 2vh;
}

.checkMark{
    width : 14px;
    height: 14px;
    margin-right: 10px;

}

main > div > .secondSection{
    width : 40vw;
}

main > div > .firstSection > .container > form{
    width : min(300px, 70%);
}

main > div > .firstSection > .container > form > input{
    width: 100%;
}

main > div > .firstSection > .container >  button {
    margin-left: 10px;
}

@media (max-width : 768px) {
main > div > .firstSection {
        width: 100%;
        }
.secondSection > #secondSectionImage {
    display: none;
}
main > div > .firstSection{
    margin-right: 0;
    width: 100%;
}
main > div > .secondSection{
    width: 0;
}
main > div > .firstSection > .container > form{
    width : 60%
}
main > div > .firstSection > .headings-section > p , main > div > section > .checkMarkImages > li > p{
    color: #c0bdb8;
    font-size: .7em;
}
.firstSection > .headings-section > h1 {
    font-size: 1.7em;
}
main > div > .firstSection > .headings-section{
    flex-wrap: nowrap;
}


}
/*----------------------------------End of the first section-------------------------------------------------------------------------*/


/*OPEN ::: Main > Section4 (NACIRI) */
.container4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
}
.content1, .content2, .content3{
    background-color: #FFF3D9;
    border: 1.5px solid #C2C2C2;
    border-radius: 3px;
    padding: 13px;
    padding-bottom: 3rem;
    position: relative;
}
.content4{
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}
.content4 img{
    width: 17vw;
    height: calc(17vw / 1.92);
}
.content4 #img4{
    text-align: center;
}
.section4 ul{
    padding-left:25px;
}
.section4 li{
    list-style-type: "\1F449";
    margin-bottom: 0.7rem;
    font-size: 1.1vw;
}
.section4 li::first-letter{
    margin-left: 9px;
}
.button{
    width: 15vw;
    border: 1px solid #13366D;
    border-radius: 3px;
    padding: 7px 5px;
    background-color: #FFF3D9;
    color: #13366D;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 1.5px black;
    transition: 0.3s;
    font-size: 1.03vw;
}
.button:hover{
    background-color: #0B48A8;
    border: 0.5px solid #707070;
    color: white;
}
.button:active{
    box-shadow: 0 0.5px black;
    transform: translateY(1.5px);
}
#section4Title{
    color: #13366D;
}
.section4Text{
    color: #A2A2A2;
}
.container4 .contentTiltle{
    color: white;
    background-color: #13366D;
    border-radius: 13px;
    padding: 6px 20px;
    width: min-content;
    margin-top: 0.7rem;
}
.price{
    font-size: x-large;
}
.mo{
    font-size: large;
    color: #8D8D8D;
}
.container4 h3{
    font-size: large;
}
.bottom-content{
    margin-bottom: 1.2rem;
    margin-top: 1rem;
}
.bottom-content, .bottom-content-3{
    position: absolute;
    bottom: 0;
}
.content3 p{
    font-size: 1.1vw;
}
.bottom-content-3 a{
    text-decoration: none;
    color: black;
}
/* Pricing Page OP */
.containerPricing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
}
.content1Pricing, .content2Pricing, .content3Pricing{
    background-color: #F2E5D5;
    border: 1.5px solid #C2C2C2;
    border-radius: 11px;
    padding: 13px;
    padding-bottom: 3rem;
    position: relative;
}
.buttonPricing{
    width: 22vw;
    border: 1px solid #13366D;
    border-radius: 3px;
    padding: 7px 5px;
    background-color: #F2E5D5;
    color: #13366D;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 1.5px black;
    transition: 0.3s;
    font-size: 1.03vw;
}
.buttonPr{
    background-color: #F2E5D5;
}
.buttonPricing:hover{
    background-color: #0B48A8;
    border: 0.5px solid #707070;
    color: white;
}
.buttonPricing:active{
    box-shadow: 0 0.5px black;
    transform: translateY(1.5px);
}
.containerPricing .contentTiltle{
    color: white;
    background-color: #13366D;
    border-radius: 13px;
    padding: 6px 20px;
    width: min-content;
    margin-top: 0.7rem;
}
/* Pricing Page Cl */
@media only screen and (max-width: 920px){
    .container4{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1.5rem;
    }
    .section4 li{
        font-size: 1.8vw;
    }
    .content3 p{
        font-size: 1.8vw;
    }
    .button{
        width: 25vw;
        padding: 7px 5px;
        font-size: 1.4vw;
    }
    .content4 img{
        width: 30vw;
        height: calc(30vw / 1.92);
    }
        /* Pricing Page OP */
        .containerPricing{
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 1.5rem;
        }
        .buttonPricing{
            width: 25vw;
            padding: 7px 5px;
            font-size: 1.4vw;
        }
        .content3Pricing{
            grid-column: 1/3;
        }
        /* Pricing Page CL */
}
@media only screen and (max-width: 576px){
    .container4{
        grid-template-columns: auto;
    }
    .section4 li{
        font-size: 4vw;
    }
    .content3 p{
        font-size: 4vw;
    }
    .button{
        width: 45vw;
        font-size: 3vw;
    }
    .container4 .contentTiltle{
        font-size: 1rem;
    }
    .content4 img{
        width: 59vw;
        height: calc(59vw / 1.92);
    }
    /* Pricing Page OP */
    .content3Pricing{
        grid-column: 1/2;
    }
    .containerPricing{
        grid-template-columns: 1fr;
        grid-row-gap: 1.5rem;
    }
    .buttonPricing{
        width: 45vw;
        font-size: 3vw;
    }
    /* Pricing Page CL */
}
/*CLOSE ::: Main > Section4 (NACIRI) */

/*OPEN ::: Contact (HICHAM) */
main > #contactSection .contactTitle{
    width: fit-content;
    font-size: 1.3rem;
    margin: 50px 0px 30px 0px;
    color: #17396b;
}

main > #contactSection > #getInTouch > p{
    color: #6e6d6b;
    font-size: .9rem;
}

main > #contactSection > #getInTouch > .inline{
    display: flex;
    align-items: center;
}

main > #contactSection > #getInTouch > div >  img{
    width: 1.2rem;
    height: 1.2rem;
}

main > #contactSection > #getInTouch > div >  p{
    padding: 8px 15px;
    margin: 0;
    font-size: .8rem;
}

main > #contactSection > #getInTouch > div >  p > a{
    text-decoration: none;
    color: black;
}

main > #contactSection > #contact > form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

main > #contactSection > #contact input{
    height: 2rem;
    width: min(450px, 100%);
    margin-bottom: 10px;
}

main > #contactSection > #contact textarea{
    min-width: min(450px, 100%);
    max-width: min(450px, 100%);
    margin-bottom: 10px;
}

main > #contactSection > #contact button{
    width: min(200px ,50%);
    height: 2rem;
    color: #fff;
    background-color: #0C459E;
    padding: 0;
    font-size: .8rem;
}

footer{
    display: flex;
    justify-content: center;
}

footer > p{
    margin-top: 100px;
    font-size: .6rem;
    color: #918e8b;
}


@media screen and (min-width: 769px){

    main > #contactSection{
        display: flex;
        flex-direction: row;
    }

    main > #contactSection > #getInTouch{
        width: 50%;
        padding-right: 10%;
    }

    main > #contactSection > #contact{
        width: 50%;
    }

    main > #contactSection > #contact > form ::before{
        content: "";
        position: absolute;
        top: 23%;
        left: 45%;
        width: .5px;
        height: 330px;
        background-color: #c0bdb8;
    }

    main > #contactSection > #getInTouch > p{
        margin-bottom: 40px;
    }
}
/*CLOSE ::: Contact (HICHAM) */

/*OPEN ::: Header (HIND) */
#check, #btn, #cancel{
    display: none;
}

header label{
    position: absolute;
    right: 10%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: min(16px, 1.2vw);
}

header div > ul{
    display: flex;
    justify-content: space-between;
}

header div > ul > li{
    list-style: none;
}

header div > ul > li > a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

header div > ul > li > a:hover{
    color: #4474BB;
    text-decoration: underline;
    transition: .3s;
}

header > div.lastNav > ul{
    align-items: center;
}

#buttonHeader{
    font-size: min(16px, 1.2vw);
    margin-left: 20px;
    width: 100px;
    background-color: #0C459E;
    color:  #fff;
}

@media (max-width:768px) {
    header{
        font-size: 16px;
    }
    #buttonHeader{
        font-size: 12px;
    }
    header > .firstNav ul, header > .lastNav ul{
        display: none;
        width: 200px;
    }
    header > .lastNav ul{
        margin: 0;
    }
    #btn{
        display: block;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    #btn, #cancel{
        font-size: 30px;
        cursor: pointer;
    }
    #check:checked ~ .lastNav ul > li{
        margin-top: 10px;
    }
    #check:checked ~ .firstNav ul{
        text-align: center;
        display: block;
        position: absolute;
        right: 0;
        background-color: #fae5b8;
        padding: 20px 0;
        width: 100vw;
        font-size: 2.5vw;
    }
}
/*CLOSE ::: Header (HIND) */
